.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
}

.widget > p {
  margin: 0 auto 16px;
}

button.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #fff;
  transition-timing-function: ease;
  transition-property: background-color;
  transition-duration: 3ms;
}

button.change-color:hover,
button.change-color:focus {
  background-color: #6c8cff;
}
